@media screen and (max-width: 480px) {
		#messagebox {
		font-size: 64pt;
	}

	#actions {
		height: 164px;
	}

	#actions button {
		padding-top: 120px;
	}

	#actions #flagmode {
		padding-top: 118px;
	}

	#remainingMines {
		left: 130px;
		top: -130px;
		font-size: 60pt;
	}

	#actions button, #mine_icon, #remainingMines {
		width: 120px;
		height: 160px;
	}

	#mine_display {
		width: 98px;
		height: 48px;
	}

	#options {
		height: 64px;
		font-size: 24pt;
	}

	#options select, #options input {
		font-size: 32pt;
	}
}
